:root {
  --text-color: #fff;
  --text-color-secondary: #a6a6a6;
  --body-bg-color: #271b31;
  --bg-color: #111;
  --bg-color-secondary: #1d1d1d;
  --container-border-radius: 10px;
  --card-border-radius: 5px;
  --gradient: linear-gradient(90deg, rgb(61, 98, 167) 0%, rgba(221, 36, 118,1) 100%);
}
  

*{
  padding: 0;
  margin: 0;
  font-family: "Helvetica";
  box-sizing: border-box;
}

body{
  background-color: var(--body-bg-color);
}

a, svg{
  transition: .4s;
}

#portifolio{
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  gap: 3rem;
}

#portifolio h1{
  width: 100%;
  font-size: 5rem;
  margin-bottom: 4rem;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Sidebar */

#sidebar{
  background-color: var(--bg-color);
  flex:1 1 0;
  border-radius: var(--container-border-radius);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

img{
  max-width: 70%;
  position: static;
  border-radius: var(--container-border-radius);
  position: absolute;
  top: -3rem;
}

.title{
  color: var(--text-color-secondary);
  background-color: var(--bg-color-secondary);
  border-radius: var(--card-border-radius);
  margin-top: 12rem;
  padding: .8rem 1.2rem;
}

.btn{
  padding: 1rem 1.2rem;
  color: var(--text-color);
  background: var(--gradient);
  text-decoration: none;
  border-radius: 3rem;

}
/*MainContent */

#main-content{
  background-color: var(--bg-color);
  flex: 2 1 0;
  border-radius: var(--container-border-radius);
  padding: 3rem;
}

/*SocialNetworks */ 

#social-networks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.social-btn{
  padding: .6rem;
  background-color: var(--bg-color-secondary);
  border-radius: var(--card-border-radius);
  color: #333;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkedin{
  color: #0072b1;
}

#linkedin:hover{
  background: var(--gradient);
  color: var(--text-color);
}

#github{
  color: #111;
}

#github:hover{
  background: var(--gradient);
  color: var(--text-color);
}

#instagram{
  color: #bc2a8d;
}

#instagram:hover{
  background: var(--gradient);
  color: var(--text-color);
}

/*InformationContainer */

#information{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: left;
  width: 80%;
  border-radius: var(--card-border-radius);
}

.info-card{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-bottom: .8rem;
  margin-bottom: .8rem;
  border-bottom: 1px solid #444;
  width: 100%;
  flex-wrap: wrap; 
}

.info-card h3{
  color: var(--text-color-secondary);
  font-size: .8rem;
  margin-bottom: .5rem;
}
.info-card p{
   color: var(--text-color);
   font-weight: bold;
}

.info-card svg{
  background-color: var(--bg-color);
  padding: .4rem;
  width: 2rem;
  height: 2rem;
  border-radius: var(--card-border-radius);
}

#phone-icon{
  color: #e93b81;
}

#email-icon{
  color: #6ab5b9;
}

#pin-icon{
  color: #c17ceb;
}

/*AboutContainer */

section .about-container{
  display: flex;
  flex-direction: column;
}

.about-container h2,
.projects-container h2{
  color: var(--text-color);
  font-size: 2.2rem;
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.about-container p,
.projects-container p{
  color: var(--text-color-secondary);
  margin-bottom: 1.7rem;
  line-height: 1.4rem;
}

.about-container .btn{
  padding: .6rem;
  background-color: var(--bg-color-secondary);
  border-radius: var(--card-border-radius);
  align-self:start;
}

/*TechnologiesContainer */

.technologies-container{
  margin-bottom: 1rem;
}

.technologies-container h2{
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.technologies-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.technology-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #333;
  width: 45%;
  border-radius: var(--card-border-radius);
}

.technology-card svg{
  font-size: 6rem;
}

.technology-info h3{
  color: var(--text-color);
  margin-bottom: 1rem;
}

.technology-info p{
  color: var(--text-color-secondary);
}

#html svg{
  color: #E44D26;
}

#css svg{
  color: #1572bc;
}

#js svg{
  color: #f0bd4e;
}

#react svg{
  color: #61dafb;
}

#typescript svg{
  color: #3178c6;
}

/* Responsividade */

@media (max-width: 1024px) {
  #portifolio h1 {
    font-size: 3.5rem;
  }

  #main-content, #sidebar {
    flex: 1 1 100%;
    padding: 2rem;
  }

  img {
    max-width: 30%;
    top: -3rem;
  }
}


@media (max-width: 768px) {
  #portifolio {
    flex-direction: column;
    align-items: center;
    padding: 2rem 5%;
  }

  #portifolio h1 {
    font-size: 2.8rem;
  }

  img {
    max-width: 75%;
  }
}

@media (max-width: 480px) {
  #portifolio h1 {
    font-size: 2.2rem;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
  .technology-card{
    flex-wrap: wrap;
  }

  img {
    max-width: 80%;
  }

  #main-content, #sidebar {
    padding: 1rem;
  }
}